* {
    margin: 0 auto;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    background-color: #FAF7FD;
}
#circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border:2px double #BB99DD;
    margin-left: 45.5%;
    margin-top: 100px;
}

#insta{
    font-family: 'Poppins', sans-serif;
    font-size: 300px 600px;
    margin-left: 925px;


}


#links{
    font-family: 'Poppins', sans-serif;
    font-size: 300px 600px;
    border:2px solid #BB99DD;
    margin: 15px 800px 0px 800px;
    padding-left: 100px;
    padding-top: 10px ;
    padding-bottom: 10px ;

    
}

#favicon1{
    margin-top: 70px;
    margin-left:42%;

}

#favicon2{
    margin-left: 20px;
    
}
